body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.picture-container {
    margin: 20px;
    text-align: center;
    cursor: pointer;
}

.name {
    background-color: #ffffff;
    user-select: none;
}
@media screen and (min-width: 80rem) {
    .picture-container{
        margin: 1em 2em;
    }
}